
        <section class="hero">
            <h1>Добро пожаловать на наш сайт</h1>
            <p>Мы создаем удивительные вещи для вас</p>
        </section>
        
        <section class="content-grid">
            <article class="card">
                <h2>Заголовок 1</h2>
                <p>Аа аааааа ааа аа а ааааааааааа а аааааааааааааааааа аааа аааааа ааааааааааааа </p>
            </article>
            
            <article class="card">
                <h2>Заголовок 2</h2>
                <p>бб бб бббббббббббббббббб б ббббббббббббб бб бббб ббббббббб бббб бб б ббббббббббб б</p>
            </article>
            
            <article class="card">
                <h2>Заголовок 3</h2>
                <p>Ввввввввв ввв вввввв ввв ввввв вв вввввв ввв вввввввв вввв ввввв ввв в в вв вввв</p>
            </article>
        </section>
    